.todo {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.title {
    font-weight: 400;
    font-size: 96px;
    line-height: 156px;
    letter-spacing: 0.1em;
    color: #ffffff;
    margin: 0 0 60px 20px;
    align-self: flex-start;
}

.list {
    display: flex;
    flex-direction: column;
    width: 755px;
    max-width: 100%;
    background-color: #25273c;
    row-gap: 10px;
    margin-top: 60px;
    height: 660px;
    overflow-y: auto;
}

.list::-webkit-scrollbar {
    width: 0;
}
