.counter {
    display: flex;
    width: 755px;
    max-width: 100%;
    flex-direction: column;
    border: 2px solid #ad02fe;
    background-color: #25273c;
    row-gap: 20px;
}

.text {
    font-size: 24px;
    line-height: 39px;
    letter-spacing: 0.1em;
    color: #ffffff;
    margin: 0;
}